

/*#hero{
     padding-bottom: 70px;
    mask: radial-gradient(70% 70px at bottom,#0000 100%,#000);
    background-color: #000; 
}*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

h1{
    text-wrap: balance;
}

#split{
    padding-top: 3rem;
    overflow: hidden;
}

#elevatorPitch{
    background-color: #000;
}

#choices{
    background-color: #f6f6f6;
}

#previousWork{
    background-color: #f2f2f2;
}

#stickBar{
    background-color: black;;
}

/*Carousel work*/
.carouselContainer{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center; 
}

.infiniteCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    max-width: 1000px;
    width: 75%;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        #fff 30%,
        #fff 80%,
        transparent
    );
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        #fff 30%,
        #fff 80%,
        transparent
    );
}

.infiniteCarousel div{
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3em;
}

.infiniteCarousel img {
    width: auto;
    height: 75px;
}

@keyframes move {
    to {
        transform: 
        translate(calc(-50% - 1.5em));
    }
}