

/*#hero{
     padding-bottom: 70px;
    mask: radial-gradient(70% 70px at bottom,#0000 100%,#000);
    background-color: #000; 
}*/

body {
  font-family: 'Roboto', sans-serif;
}

h1{
    text-wrap: balance;
}


#split{
    padding-top: 3rem;
    overflow: hidden;
}

#elevatorPitch{
    background-color: #000;
}

#choices{
    background-color: #f6f6f6;
}

#previousWork{
    background-color: #f2f2f2;
}

#stickBar{
    background-color: black;;
}